html,
body {
    margin: 0;
    padding: 0;
}

.no-display {
    display: none;
}

#loading-screen {
    display: none;
}

.relative {
    position: relative;
}

.content {
    padding: 5px;
}

.pointer {
    cursor: pointer;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.full-width {
    width: 100%;
}

.field-error-message {
    color: red;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
}

.red-dot::after {
    content: ' *';
    color: red;
}

.form-group {
    padding: 10px;
}

.invisible-btn {
    background: transparent;
    border: none !important;
    font-size: 0;
    position: absolute;
}

.backdrop {
    padding-top: 25px;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0);
}

.editable {
    cursor: pointer;
    color: #346b89;
    border-bottom: 1px dashed #346b89;
}

.pems-transfer .ant-transfer-list {
    width: 458px;
}

table.styled-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

.styled-table tr:nth-child(even) {
    background-color: #f6f6f6;
}

.styled-table th,
.styled-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.right-gray-border {
    border-right: 1px #d8d8d8 solid;
}

.main-badge {
    color: #b0b4b6;
}

.file-input {
    height: 32px;
}

.file-input .ant-upload.ant-upload-drag,
.file-input .ant-upload {
    padding: 0 !important;
}

.flex-space {
    display: flex;
    justify-content: space-between;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.header,
.footer {
    padding: 1rem;
    flex-shrink: 0;
}

.kanban {
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
}

.kanban-container {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 10px;
}

.kanban-column {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    min-width: 240px;
    max-width: 240px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background-color: #eee;
}

.kanban-column-header {
    padding: 10px;
    font-weight: bold;
    font-size: 0.875rem;
}

.kanban-column-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    margin: 0;
    padding: 10px 10px 0;
    list-style: none;
}

.kanban-column-footer {
    padding: 10px;
    font-size: 0.875rem;
}

.card {
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 10px;
    cursor: grab;
}

.card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-item-remaining {
    flex: 1;
}

.task-item .ant-badge {
    width: 100%;
}

.bookmark-sider {
    border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
}
.bookmark-sider .ant-menu {
    border-inline-end: none !important;
}

/* Custom Scroll */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    margin: 3px;
    padding: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
